# Dependencies
node_modules/
/frontend/node_modules

# Python
data/images/*
data/split_images/*
checkpoints/*
logs/*
__pycache__/

# Virtual Environment
*.env
venv/
env/
ENV/

# Video files
backend/uploads/*
backend/processed/*

#FrontEnd
*.vite
frontend/dist/*
