# Dependencies
node_modules/
/frontend/node_modules

# Python
data/images/*
data/split_images/*
checkpoints/*
logs/*
__pycache__/

# Virtual Environment
*.env
venv/
env/
ENV/

# Video files
backend/uploads/*
backend/processed/*

#FrontEnd
*.vite
frontend/dist/*
frontend/myenv/*
model/best_model.pth
log/npm_run_dev.log
log/processing_service.log
log/realtime_service.log
pids/npm_run_dev.pid
pids/processing_service.pid
pids/realtime_service.pid
backend/analytics/latest_session.csv
frontend/package-lock.json
