# Core requirements
uvicorn
python-multipart
fastapi
opencv-python
numpy
Pillow
tqdm
mediapipe
uvicorn[standard]

# For audio processing
pydub
ffmpeg-python
# For API requests
aiohttp
# # For Google Gemini API
# google-generativeai
# For environment variables
python-dotenv

# PyTorch with CUDA 11.8 suppor --find-links https://download.pytorch.org/whl/cu126